* {
  margin: 0;
}

.app__header {
  /*Forces this class into one row*/
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /*Pushes this from the left content*/
  justify-content: space-between;
}